.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading h1 {
  font-size: 2em;
}
.search input {
  border: none;
  background: transparent;
  outline: none;
  padding: 0.5em;
}
.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}
.search:hover {
  box-shadow: 0 0 5px rgba(49, 49, 46, 0.377);
}
.icon {
  margin: 0 0.1em 0 0.3em;
}
/* .camera {
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  left: 95px;
  pointer-events: initial;
} */
/* .loading {
  animation: loading 2s linear infinite;
  font-size: 2em;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
} */
